.view {
    background-color: black;
    width: 100%;
    color: azure;
    padding: 20px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 5px;
    text-align: left;

}

.subItemsTable,
td {
    border: 1px solid rgb(255, 255, 255);
    vertical-align: top;
}
.questions{
    margin-left: 200px !important;
}