.dashboardContainer {
    display: flex;
    color: black;
}

.addItemContainer {
    margin-bottom: 10px;
}

.itemContainer {
    margin-bottom: 20px;
}

.itemContainer>div {
    display: flex;
    align-items: center;
}

.itemContainer>div>div {
    margin-right: 10px;
}

.addSubitemContainer {
    margin-left: 30px;
    margin-bottom: 10px;
}

.subitemSontainer {
    display: flex;
    align-items: center;
}

.subitemContainer>div {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.subitemContainer>input[type="text"] {
    margin-right: 10px;
}
input{
    color: black;
    height: 30px;
}

.subitemContainer>button {
    margin-right: 5px;
}

button{
    width: 100px;
    height: 30px;
    padding: 0;
}

.additemBtn{
}