.dashboardContainer {
    color: black;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
}

.addItemContainer {
    display: flex;
    margin-bottom: 10px;
}

.itemContainer {
    margin-bottom: 20px;
}

.itemContainer>div {
    display: flex;
    align-items: center;
}

.itemContainer>div>div {
    margin-right: 10px;
}

.addSubitemContainer {
    margin-left: 30px;
    margin-top: 20px;
}

.subitemSontainer {
    display: flex;
    align-items: center;
}

.subitemContainer>div {
    margin-right: 80px;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.subitemContainer>input[type="text"] {
    margin-right: 10px;
}

input {
    color: black;
    height: 30px;
    margin-right: 10px;
}

.subitemContainer>button {
    margin-right: 5px;
}

.subitemTitle {
    margin-right: 10px;
}

button {
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}


input {
    max-width: 500px;
}

.subitemDescription {
    margin-top: 50px;
    margin-left:  80px;
}

.inline {
    display: flex;
    align-items: center;
}

.subItemlist {
    margin-left: 50px;
}
.question {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    /* Adjust this value as needed */
    margin-left: 80px;
    display: block;
    /* Ensures each question appears on a new line */
}